examples/Connect To semilimes flow.json
[
    {
        "id": "60aa84f35b43b2ca",
        "type": "tab",
        "label": "Connect To semilimes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "499e3b0ca68626c7",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 2: Configure 'Connector' property of the 'sender' nodes to setup connection to semilimes",
        "info": "",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ff574b03a43889d",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "This example lets you connect to semilimes for the first time and lets you send a message to a contact of your choice",
        "info": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "ef89bf5a8213f87a",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 1: Get an API key on semilimes.com",
        "info": "",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "bc415d83127f39d3",
        "type": "inject",
        "z": "60aa84f35b43b2ca",
        "name": "START",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "dc1f7a971bb4acd8"
            ]
        ]
    },
    {
        "id": "cde509588ef91d55",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 3: In your semilimes app, login with your subaccount and check the new channel and its message",
        "info": "",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "dc1f7a971bb4acd8",
        "type": "sender",
        "z": "60aa84f35b43b2ca",
        "connector": "",
        "async": "0",
        "name": "",
        "actionName": "channel_create",
        "actionText": "Channel - Create",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "newChannel",
        "titleType": "str",
        "saveLocation": "savedChannelId",
        "saveLocationType": "msg",
        "logToConsole": false,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "141e68d68b41be19"
            ]
        ]
    },
    {
        "id": "141e68d68b41be19",
        "type": "message",
        "z": "60aa84f35b43b2ca",
        "name": "",
        "message": "text",
        "text": "My first message from node-RED!",
        "textType": "str",
        "html": "<b>This is an html message</b>",
        "htmlType": "str",
        "fileIds": "",
        "fileIdsType": "str",
        "contactIds": "",
        "contactIdsType": "str",
        "locationName": "myLocation",
        "locationNameType": "str",
        "latitude": "",
        "latitudeType": "str",
        "longitude": "",
        "longitudeType": "str",
        "url": "",
        "urlType": "str",
        "enableFullScreenView": "1",
        "viewSize": "1:2",
        "channelId": "",
        "channelIdType": "str",
        "tunnelId": "",
        "tunnelIdType": "str",
        "formLocation": "savedForm",
        "formLocationType": "flow",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "e4ac8b169e893b7a"
            ]
        ]
    },
    {
        "id": "e4ac8b169e893b7a",
        "type": "sender",
        "z": "60aa84f35b43b2ca",
        "connector": "",
        "async": "0",
        "name": "",
        "actionName": "channel_message_send",
        "actionText": "Channel - Send Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "savedChannelId",
        "channelIdType": "msg",
        "title": "",
        "titleType": "str",
        "saveLocation": "savedMessageId",
        "saveLocationType": "msg",
        "logToConsole": false,
        "x": 350,
        "y": 400,
        "wires": [
            []
        ]
    }
]