examples/Connect To semilimes flow.json
[
    {
        "id": "60aa84f35b43b2ca",
        "type": "tab",
        "label": "Connect To semilimes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "499e3b0ca68626c7",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 2: Configure 'Connector' property of the 'Intent' and 'send to semilimes' nodes to setup connection to semilimes",
        "info": "",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ff574b03a43889d",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "This example lets you connect to semilimes for the first time and lets you send a message to a contact of your choice",
        "info": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "d4de6f11dccae0bc",
        "type": "inject",
        "z": "60aa84f35b43b2ca",
        "name": "Inject2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "3e039ea227cd7a5c"
            ]
        ]
    },
    {
        "id": "3e039ea227cd7a5c",
        "type": "sme-comp-text",
        "z": "60aa84f35b43b2ca",
        "name": "",
        "text": "First message sent by NodeRED example flow!",
        "textType": "str",
        "x": 290,
        "y": 440,
        "wires": [
            [
                "205a9aa0495ba053"
            ]
        ]
    },
    {
        "id": "205a9aa0495ba053",
        "type": "sme-main-intent",
        "z": "60aa84f35b43b2ca",
        "name": "",
        "autoName": "",
        "connector": "",
        "actionName": "channel_message_send",
        "actionText": "Channel - Send Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "",
        "titleType": "str",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "028f3c55a5df0dfe"
            ]
        ]
    },
    {
        "id": "028f3c55a5df0dfe",
        "type": "sme-main-sender",
        "z": "60aa84f35b43b2ca",
        "connector": "",
        "async": "0",
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ef89bf5a8213f87a",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 1: Get an API key on semilimes.com",
        "info": "",
        "x": 240,
        "y": 160,
        "wires": []
    },
    {
        "id": "3098c1296a8f2791",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 3: Select a channel title in the 'intent' node and trigger this flow to create a new channel to start sending messages from this client",
        "info": "",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "056b11cb8540c85c",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 4: Configure the intent node and search for the new created channel in the list. Trigger it to send a message",
        "info": "",
        "x": 460,
        "y": 400,
        "wires": []
    },
    {
        "id": "bc415d83127f39d3",
        "type": "inject",
        "z": "60aa84f35b43b2ca",
        "name": "Inject1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "e2ac93d75c372525"
            ]
        ]
    },
    {
        "id": "e2ac93d75c372525",
        "type": "sme-main-intent",
        "z": "60aa84f35b43b2ca",
        "name": "",
        "autoName": "",
        "connector": "",
        "actionName": "channel_create",
        "actionText": "Channel - Create",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "f9e9d4f3-380c-49dd-b2fe-8ac2ef5c9d61",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "myNewChannel",
        "titleType": "str",
        "x": 350,
        "y": 320,
        "wires": [
            [
                "c59b28f83f5b6b80"
            ]
        ]
    },
    {
        "id": "c59b28f83f5b6b80",
        "type": "sme-main-sender",
        "z": "60aa84f35b43b2ca",
        "connector": "",
        "async": "0",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "43527716046f05d4"
            ]
        ]
    },
    {
        "id": "43527716046f05d4",
        "type": "debug",
        "z": "60aa84f35b43b2ca",
        "name": "Get Created Channel",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "_sme.responseMsgs[0].data",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 320,
        "wires": []
    },
    {
        "id": "cde509588ef91d55",
        "type": "comment",
        "z": "60aa84f35b43b2ca",
        "name": "Step 5: In your semilimes app, login with your subaccount and check the new message in the channel",
        "info": "",
        "x": 420,
        "y": 520,
        "wires": []
    }
]