examples/Control Lamp flow.json
[
    {
        "id": "03f230443c464b5e",
        "type": "tab",
        "label": "Control Lamp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c96f4fe387066a5d",
        "type": "group",
        "z": "03f230443c464b5e",
        "name": "Local processing",
        "style": {
            "label": true
        },
        "nodes": [
            "e209e805b09415e8",
            "bc637f7410c849d5",
            "936084037c176bf7"
        ],
        "x": 74,
        "y": 659,
        "w": 652,
        "h": 82
    },
    {
        "id": "956f9a128667a6f0",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "With messenger app, a user controls a Lamp via a form published on a channel by this flow",
        "info": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "95fea712dc60ba78",
        "type": "inject",
        "z": "03f230443c464b5e",
        "name": "Send New Form Message",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "cc54de98776d42c8"
            ]
        ]
    },
    {
        "id": "bb5ce74ccf794b08",
        "type": "sme-formComp-label",
        "z": "03f230443c464b5e",
        "name": "Lamp Control Panel",
        "reference": "myLampLabel",
        "referenceType": "str",
        "title": "Lamp control panel",
        "x": 700,
        "y": 240,
        "wires": [
            [
                "b1a1442954404377"
            ]
        ]
    },
    {
        "id": "b1a1442954404377",
        "type": "sme-formComp-switch",
        "z": "03f230443c464b5e",
        "name": "Lamp Switch",
        "reference": "myLampSwitch",
        "referenceType": "str",
        "title": "Switch",
        "titleType": "str",
        "value": "lampSwitchValue",
        "valueType": "msg",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "9ad0a71ac177ad94"
            ]
        ]
    },
    {
        "id": "9ad0a71ac177ad94",
        "type": "sme-formComp-slider",
        "z": "03f230443c464b5e",
        "name": "Lamp Dimmer",
        "reference": "myLampDimmer",
        "referenceType": "str",
        "title": "Dimmer",
        "titleType": "str",
        "required": "0",
        "value": "lampDimmerValue",
        "valueType": "msg",
        "min": "0",
        "minType": "num",
        "max": 10,
        "maxType": "num",
        "step": "1",
        "stepType": "num",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "0b2bb1bf856bf412"
            ]
        ]
    },
    {
        "id": "a56f9ae41e78f648",
        "type": "sme-comp-form",
        "z": "03f230443c464b5e",
        "name": "Lamp Form",
        "submitEnabled": "0",
        "retainStatus": "1",
        "submitText": "Submit",
        "submitTextType": "str",
        "receiverId": "",
        "receiverIdType": "str",
        "receiverType": "none",
        "refName": "formReference",
        "refNameType": "msg",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "bb5ce74ccf794b08"
            ]
        ]
    },
    {
        "id": "6cc5dfcca8f2f468",
        "type": "sme-main-intent",
        "z": "03f230443c464b5e",
        "actionName": "channel_message_send",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "x": 1090,
        "y": 320,
        "wires": [
            [
                "7ec6477b8ee0a3e8"
            ]
        ]
    },
    {
        "id": "f70dfda88b877f69",
        "type": "debug",
        "z": "03f230443c464b5e",
        "name": "debug 50",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 400,
        "wires": []
    },
    {
        "id": "7ec6477b8ee0a3e8",
        "type": "sme-main-sender",
        "z": "03f230443c464b5e",
        "connector": "",
        "async": "0",
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "f70dfda88b877f69"
            ]
        ]
    },
    {
        "id": "cc54de98776d42c8",
        "type": "change",
        "z": "03f230443c464b5e",
        "name": "Set default form values",
        "rules": [
            {
                "t": "set",
                "p": "lampSwitchValue",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "lampDimmerValue",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "91ca047551d8ae8a"
            ]
        ]
    },
    {
        "id": "3f090137152dcd32",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Step 1: Send a control form to a channel and save its form and the message Id for further updates",
        "info": "",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "4fd3a1174e716f48",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "In the lamp form, submit is disabled and Retain Status is YES to allow the form to send commands on each edit and to maintain its current status on the messenger app",
        "info": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "2d1bed82447ff22f",
        "type": "sme-main-listener",
        "z": "03f230443c464b5e",
        "connector": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "3a2497f836e72e1e"
            ]
        ]
    },
    {
        "id": "e209e805b09415e8",
        "type": "function",
        "z": "03f230443c464b5e",
        "g": "c96f4fe387066a5d",
        "name": "Send values to lamp",
        "func": "var valuesArr = msg.savedSubmission.submission.formComponents;\n\nmsg.payload = {};\nvar lampSwitch = valuesArr.find(o => o.refName == \"myLampSwitch\");\nvar lampDimmer = valuesArr.find(o => o.refName == \"myLampDimmer\");\n\nmsg.payload.lampSwitch = {\n    refName: lampSwitch.refName,\n    value: lampSwitch.value\n};\n\nmsg.payload.lampDimmer = {\n    refName: lampDimmer.refName,\n    value: lampDimmer.value\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 700,
        "wires": [
            [
                "bc637f7410c849d5"
            ]
        ]
    },
    {
        "id": "91ca047551d8ae8a",
        "type": "function",
        "z": "03f230443c464b5e",
        "name": "Random Form Id",
        "func": "msg.formReference = \"form\"+Date.now();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 340,
        "wires": [
            [
                "a56f9ae41e78f648"
            ]
        ]
    },
    {
        "id": "e7a8a880c6b45291",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Listen to submission for the saved form, extract values and send to lamp, update and send the form to achieve statefulness",
        "info": "",
        "x": 490,
        "y": 420,
        "wires": []
    },
    {
        "id": "3a2497f836e72e1e",
        "type": "sme-filter-formSubmission",
        "z": "03f230443c464b5e",
        "reference": "mySavedForm.refName",
        "referenceType": "flow",
        "saveLocation": "savedSubmission",
        "saveLocationType": "msg",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "e209e805b09415e8"
            ]
        ]
    },
    {
        "id": "0b2bb1bf856bf412",
        "type": "sme-main-formSaver",
        "z": "03f230443c464b5e",
        "location": "mySavedForm",
        "locationType": "flow",
        "x": 870,
        "y": 320,
        "wires": [
            [
                "6cc5dfcca8f2f468"
            ]
        ]
    },
    {
        "id": "3bf47a245e003ea3",
        "type": "sme-main-formLoader",
        "z": "03f230443c464b5e",
        "location": "mySavedForm",
        "locationType": "flow",
        "x": 1050,
        "y": 560,
        "wires": [
            [
                "98ad87a92732964b"
            ]
        ]
    },
    {
        "id": "bc637f7410c849d5",
        "type": "delay",
        "z": "03f230443c464b5e",
        "g": "c96f4fe387066a5d",
        "name": "Simulate hw delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 430,
        "y": 700,
        "wires": [
            [
                "936084037c176bf7"
            ]
        ]
    },
    {
        "id": "b29fe19a8f16fa99",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "In this example, a dimmer set to 0 will bring the lamp switch to off",
        "info": "",
        "x": 310,
        "y": 460,
        "wires": []
    },
    {
        "id": "936084037c176bf7",
        "type": "function",
        "z": "03f230443c464b5e",
        "g": "c96f4fe387066a5d",
        "name": "Lamp logic",
        "func": "//Dimmer is 0, force switch to 0 (off)\nif (msg.payload.lampSwitch.value == 1 &&\n    msg.payload.lampDimmer.value == 0) {\n    msg.payload.lampSwitch.value = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 700,
        "wires": [
            [
                "396030b411e16a98"
            ]
        ]
    },
    {
        "id": "396030b411e16a98",
        "type": "sme-main-formUpdater",
        "z": "03f230443c464b5e",
        "name": "Update Switch Value",
        "location": "mySavedForm",
        "locationType": "flow",
        "compRefName": "payload.lampSwitch.refName",
        "compRefNameType": "msg",
        "compValue": "payload.lampSwitch.value",
        "compValueType": "msg",
        "x": 820,
        "y": 520,
        "wires": [
            [
                "a33b65627d65a086"
            ]
        ]
    },
    {
        "id": "a33b65627d65a086",
        "type": "sme-main-formUpdater",
        "z": "03f230443c464b5e",
        "name": "Update Dimmer Value",
        "location": "mySavedForm",
        "locationType": "flow",
        "compRefName": "payload.lampDimmer.refName",
        "compRefNameType": "msg",
        "compValue": "payload.lampDimmer.value",
        "compValueType": "msg",
        "x": 840,
        "y": 580,
        "wires": [
            [
                "3bf47a245e003ea3"
            ]
        ]
    },
    {
        "id": "98ad87a92732964b",
        "type": "sme-main-intent",
        "z": "03f230443c464b5e",
        "actionName": "channel_message_update",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "savedSubmission.submission.replyTo.messageId",
        "messageIdType": "msg",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "52cd6010-4d7d-46f3-9d7c-4286b5cf1600",
        "channelIdType": "str",
        "x": 1180,
        "y": 620,
        "wires": [
            [
                "1c1da4e77b720db5"
            ]
        ]
    },
    {
        "id": "1c1da4e77b720db5",
        "type": "sme-main-sender",
        "z": "03f230443c464b5e",
        "connector": "",
        "async": "0",
        "x": 1270,
        "y": 680,
        "wires": [
            [
                "7e4b042ba957e9ab"
            ]
        ]
    },
    {
        "id": "7e4b042ba957e9ab",
        "type": "debug",
        "z": "03f230443c464b5e",
        "name": "debug 51",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 740,
        "wires": []
    },
    {
        "id": "92d232876967a4d7",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Read this",
        "info": "The filter submission node saves:\n\n1. The messageId of the original form message.\nThis is useful to update a message with updated form values\n\n2. The refName of the form to identify which form has been filtered\n\n3. the formComponents of the submitted form, containing the actual settings and values of each component.\nThis is then extracted for local processing.\nLocal values can be reentered in an existing form and sent back to semilimes, using the original messageId",
        "x": 420,
        "y": 560,
        "wires": []
    }
]