examples/Control Lamp stateful persistent flow.json
[
    {
        "id": "03f230443c464b5e",
        "type": "tab",
        "label": "Control Lamp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c96f4fe387066a5d",
        "type": "group",
        "z": "03f230443c464b5e",
        "name": "Local processing",
        "style": {
            "label": true
        },
        "nodes": [
            "bc637f7410c849d5",
            "936084037c176bf7"
        ],
        "x": 1414,
        "y": 619,
        "w": 412,
        "h": 82
    },
    {
        "id": "956f9a128667a6f0",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "With messenger app, a user controls a Lamp via a form published on a channel by this flow",
        "info": "",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "95fea712dc60ba78",
        "type": "inject",
        "z": "03f230443c464b5e",
        "name": "Publish New Form",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "6f8ff406609bd95d"
            ]
        ]
    },
    {
        "id": "bb5ce74ccf794b08",
        "type": "sme-formComp-label",
        "z": "03f230443c464b5e",
        "name": "Lamp Control Panel",
        "reference": "myLampLabel",
        "referenceType": "str",
        "title": "Lamp control panel",
        "x": 600,
        "y": 380,
        "wires": [
            [
                "b1a1442954404377"
            ]
        ]
    },
    {
        "id": "b1a1442954404377",
        "type": "sme-formComp-switch",
        "z": "03f230443c464b5e",
        "name": "Lamp Switch",
        "reference": "lampSwitchReference",
        "referenceType": "msg",
        "title": "Switch",
        "titleType": "str",
        "value": "lampSwitchValue",
        "valueType": "msg",
        "x": 570,
        "y": 420,
        "wires": [
            [
                "9ad0a71ac177ad94"
            ]
        ]
    },
    {
        "id": "9ad0a71ac177ad94",
        "type": "sme-formComp-slider",
        "z": "03f230443c464b5e",
        "name": "Lamp Dimmer",
        "reference": "lampDimmerReference",
        "referenceType": "msg",
        "title": "Dimmer",
        "titleType": "str",
        "required": "0",
        "value": "lampDimmerValue",
        "valueType": "msg",
        "min": "0",
        "minType": "num",
        "max": 10,
        "maxType": "num",
        "step": "1",
        "stepType": "num",
        "x": 580,
        "y": 460,
        "wires": [
            [
                "6cc5dfcca8f2f468"
            ]
        ]
    },
    {
        "id": "a56f9ae41e78f648",
        "type": "sme-comp-form",
        "z": "03f230443c464b5e",
        "connector": "",
        "name": "Lamp Form",
        "submitEnabled": "0",
        "retainStatus": "1",
        "submitText": "Submit",
        "submitTextType": "str",
        "recipientId": "",
        "recipientIdType": "",
        "groupChatId": "",
        "groupChatIdType": "",
        "channelId": "",
        "channelIdType": "",
        "receiverType": "none",
        "refName": "formReference",
        "refNameType": "msg",
        "x": 570,
        "y": 340,
        "wires": [
            [
                "bb5ce74ccf794b08"
            ]
        ]
    },
    {
        "id": "6cc5dfcca8f2f468",
        "type": "sme-main-intent",
        "z": "03f230443c464b5e",
        "name": "SETUP ME: Select a channel to send message",
        "autoName": "Channel: \"NRChannel\"",
        "connector": "",
        "actionName": "channel_message_send",
        "actionText": "Channel - Send Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "",
        "titleType": "str",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "7ec6477b8ee0a3e8"
            ]
        ]
    },
    {
        "id": "7ec6477b8ee0a3e8",
        "type": "sme-main-sender",
        "z": "03f230443c464b5e",
        "connector": "",
        "async": "0",
        "x": 1130,
        "y": 380,
        "wires": [
            [
                "675e6a599193191e"
            ]
        ]
    },
    {
        "id": "cc54de98776d42c8",
        "type": "change",
        "z": "03f230443c464b5e",
        "name": "SETUP ME: default form values",
        "rules": [
            {
                "t": "set",
                "p": "formReference",
                "pt": "msg",
                "to": "myNewForm",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lampSwitchValue",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "lampDimmerValue",
                "pt": "msg",
                "to": "5",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 420,
        "wires": [
            [
                "a56f9ae41e78f648"
            ]
        ]
    },
    {
        "id": "3f090137152dcd32",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Step 2: Setup initial values, send a control form to a channel. The form message and its related messageId received by the server will be saved on disk",
        "info": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "2d1bed82447ff22f",
        "type": "sme-main-listener",
        "z": "03f230443c464b5e",
        "connector": "",
        "x": 130,
        "y": 640,
        "wires": [
            [
                "8e33686c10569e37"
            ]
        ]
    },
    {
        "id": "e7a8a880c6b45291",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "User submits the saved form -> extract submission values -> send values to lamp -> retrieve lamp updated status -> update form message",
        "info": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "3a2497f836e72e1e",
        "type": "sme-filter-formSubmission",
        "z": "03f230443c464b5e",
        "reference": "formReference",
        "referenceType": "msg",
        "messageId": "payload.messageId",
        "messageIdType": "msg",
        "saveLocation": "savedSubmission",
        "saveLocationType": "msg",
        "x": 900,
        "y": 640,
        "wires": [
            [
                "3adb060459b13f26"
            ]
        ]
    },
    {
        "id": "3bf47a245e003ea3",
        "type": "sme-main-formLoader",
        "z": "03f230443c464b5e",
        "location": "payload.form",
        "locationType": "msg",
        "x": 1010,
        "y": 900,
        "wires": [
            [
                "98ad87a92732964b"
            ]
        ]
    },
    {
        "id": "bc637f7410c849d5",
        "type": "delay",
        "z": "03f230443c464b5e",
        "g": "c96f4fe387066a5d",
        "name": "Simulate hw delay",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1530,
        "y": 660,
        "wires": [
            [
                "936084037c176bf7"
            ]
        ]
    },
    {
        "id": "b29fe19a8f16fa99",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "In this example logic, a dimmer set to 0 will bring the lamp switch to off",
        "info": "",
        "x": 1790,
        "y": 600,
        "wires": []
    },
    {
        "id": "936084037c176bf7",
        "type": "function",
        "z": "03f230443c464b5e",
        "g": "c96f4fe387066a5d",
        "name": "Lamp logic",
        "func": "//Dimmer is 0, force switch to 0 (off)\nif (msg.sentValues.lampSwitch.value == 1 &&\n    msg.sentValues.lampDimmer.value == 0) {\n        msg.sentValues.lampSwitch.value = 0;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1730,
        "y": 660,
        "wires": [
            [
                "e7cddf79e65921b9"
            ]
        ]
    },
    {
        "id": "396030b411e16a98",
        "type": "sme-main-formUpdater",
        "z": "03f230443c464b5e",
        "name": "Update Switch Value",
        "location": "payload.form",
        "locationType": "msg",
        "compRefName": "lampSwitchReference",
        "compRefNameType": "msg",
        "compValue": "sentValues.lampSwitch.value",
        "compValueType": "msg",
        "x": 980,
        "y": 820,
        "wires": [
            [
                "a33b65627d65a086"
            ]
        ]
    },
    {
        "id": "a33b65627d65a086",
        "type": "sme-main-formUpdater",
        "z": "03f230443c464b5e",
        "name": "Update Dimmer Value",
        "location": "payload.form",
        "locationType": "msg",
        "compRefName": "lampDimmerReference",
        "compRefNameType": "msg",
        "compValue": "sentValues.lampDimmer.value",
        "compValueType": "msg",
        "x": 980,
        "y": 860,
        "wires": [
            [
                "3bf47a245e003ea3"
            ]
        ]
    },
    {
        "id": "98ad87a92732964b",
        "type": "sme-main-intent",
        "z": "03f230443c464b5e",
        "name": "",
        "autoName": "",
        "connector": "",
        "actionName": "channel_message_update",
        "actionText": "Channel - Update Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "payload.messageId",
        "messageIdType": "msg",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "",
        "titleType": "str",
        "x": 1340,
        "y": 820,
        "wires": [
            [
                "1c1da4e77b720db5"
            ]
        ]
    },
    {
        "id": "1c1da4e77b720db5",
        "type": "sme-main-sender",
        "z": "03f230443c464b5e",
        "connector": "",
        "async": "0",
        "x": 1390,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "2ecd40870224becb",
        "type": "file",
        "z": "03f230443c464b5e",
        "name": "Persist Form on disk",
        "filename": "filePath",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1120,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "9805bf30c44ba79d",
        "type": "change",
        "z": "03f230443c464b5e",
        "name": "SETUP ME: Set form references",
        "rules": [
            {
                "t": "set",
                "p": "formReference",
                "pt": "msg",
                "to": "myNewForm",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lampSwitchReference",
                "pt": "msg",
                "to": "myLampSwitch",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "lampDimmerReference",
                "pt": "msg",
                "to": "myLampDimmer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "46334b899efe37df"
            ]
        ]
    },
    {
        "id": "db7db26eded49361",
        "type": "link in",
        "z": "03f230443c464b5e",
        "name": "in_setFormRefName",
        "links": [],
        "x": 105,
        "y": 180,
        "wires": [
            [
                "9805bf30c44ba79d"
            ]
        ]
    },
    {
        "id": "46334b899efe37df",
        "type": "function",
        "z": "03f230443c464b5e",
        "name": "Generate Form filePath",
        "func": "if(!msg.formReference) {\n    node.error(\"msg.formReference has to be set to a name\", msg);\n    return null;\n}\nmsg.filePath = `smeContext/${msg.formReference}.txt`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 180,
        "wires": [
            [
                "901364fc8295c9d9"
            ]
        ]
    },
    {
        "id": "901364fc8295c9d9",
        "type": "link out",
        "z": "03f230443c464b5e",
        "name": "out_setFormRefName",
        "mode": "return",
        "links": [],
        "x": 975,
        "y": 180,
        "wires": []
    },
    {
        "id": "8e33686c10569e37",
        "type": "link call",
        "z": "03f230443c464b5e",
        "name": "Call Form references setter",
        "links": [
            "db7db26eded49361"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 680,
        "wires": [
            [
                "412188da269e7878"
            ]
        ]
    },
    {
        "id": "6f8ff406609bd95d",
        "type": "link call",
        "z": "03f230443c464b5e",
        "name": "Call Form references setter",
        "links": [
            "db7db26eded49361"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "cc54de98776d42c8"
            ]
        ]
    },
    {
        "id": "3adb060459b13f26",
        "type": "function",
        "z": "03f230443c464b5e",
        "name": "Extract submission values",
        "func": "var valuesArr = msg.savedSubmission.formComponents;\n\nvar lampSwitch = valuesArr.find(o => o.refName == msg.lampSwitchReference);\nvar lampDimmer = valuesArr.find(o => o.refName == msg.lampDimmerReference);\n\nmsg.sentValues = {};\n\nmsg.sentValues.lampSwitch = {\n    value: lampSwitch.value\n};\n\nmsg.sentValues.lampDimmer = {\n    value: lampDimmer.value\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "bc637f7410c849d5"
            ]
        ]
    },
    {
        "id": "e7cddf79e65921b9",
        "type": "file in",
        "z": "03f230443c464b5e",
        "name": "Load Form from disk",
        "filename": "filePath",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 600,
        "y": 820,
        "wires": [
            [
                "33912cf3cbd157ee"
            ]
        ]
    },
    {
        "id": "675e6a599193191e",
        "type": "function",
        "z": "03f230443c464b5e",
        "name": "Set returned form and messageId in payload",
        "func": "var formReference = msg.formReference;\n\nvar responseArr = msg._sme?.responseMsgs;\nif(!responseArr || responseArr.length == 0) {\n    node.error(\"Server response is invalid\");\n    return null;\n}\nvar formMessage = null;\nresponseArr.forEach(function(o){\n    var dataComponent = o.data?.sentMessage?.dataComponent;\n    if (dataComponent \n        && dataComponent.dataComponentType == \"form\"\n        && dataComponent.refName == formReference) {\n            formMessage = {\n                messageId: o.data.sentMessage.messageId,\n                form: dataComponent\n            }\n    }\n});\n\nif (formMessage) {\n    msg.payload = formMessage;\n    return msg;\n} else {\n    node.error(\"Form not found in sent message\", msg);\n    return null;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 420,
        "wires": [
            [
                "2ecd40870224becb"
            ]
        ]
    },
    {
        "id": "33912cf3cbd157ee",
        "type": "json",
        "z": "03f230443c464b5e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 860,
        "wires": [
            [
                "396030b411e16a98"
            ]
        ]
    },
    {
        "id": "f6a3eb7acb5bef1f",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Setup 1: Give a reference name to the form and all its components. They will be automatically saved and referenced throughout the flow, even after server restarts",
        "info": "",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "412188da269e7878",
        "type": "file in",
        "z": "03f230443c464b5e",
        "name": "Load Form from disk",
        "filename": "filePath",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": true,
        "x": 460,
        "y": 640,
        "wires": [
            [
                "18284a630f31865d"
            ]
        ]
    },
    {
        "id": "18284a630f31865d",
        "type": "json",
        "z": "03f230443c464b5e",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 680,
        "wires": [
            [
                "3a2497f836e72e1e"
            ]
        ]
    },
    {
        "id": "b3e477bbfeb4422d",
        "type": "inject",
        "z": "03f230443c464b5e",
        "name": "Inject Lamp Values",
        "props": [
            {
                "p": "sentValues.lampSwitch.value",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "sentValues.lampDimmer.value",
                "v": "2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "abeb91c237aaa7c7"
            ]
        ]
    },
    {
        "id": "abeb91c237aaa7c7",
        "type": "link call",
        "z": "03f230443c464b5e",
        "name": "Call Form references setter",
        "links": [
            "db7db26eded49361"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 280,
        "y": 860,
        "wires": [
            [
                "e7cddf79e65921b9"
            ]
        ]
    },
    {
        "id": "b5d9074a313b541c",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "<---- Lamp executes its logic and returns its updated status to the form",
        "info": "",
        "x": 1050,
        "y": 740,
        "wires": []
    },
    {
        "id": "36833e3c44018c67",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Sending values to lamp ----->",
        "info": "",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "9235ed0405ded663",
        "type": "comment",
        "z": "03f230443c464b5e",
        "name": "Lamp spontaneously sends its status -> update form message",
        "info": "",
        "x": 240,
        "y": 780,
        "wires": []
    }
]