examples/Local Tunnel flow.json
[
    {
        "id": "9c78f3e70aecce9f",
        "type": "tab",
        "label": "Local Tunnel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0524510749435a86",
        "type": "sme-main-sshTunnel",
        "z": "9c78f3e70aecce9f",
        "connector": "",
        "name": "myNewTunnel",
        "host": "localhost",
        "port": "1880",
        "path": "/",
        "retryInterval": 10,
        "retryTimeout": "1",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "2aea3326917ec6cb"
            ]
        ]
    },
    {
        "id": "a885d8cb39f347e8",
        "type": "inject",
        "z": "9c78f3e70aecce9f",
        "name": "CREATE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Command",
                "v": "CREATE",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "0524510749435a86"
            ]
        ]
    },
    {
        "id": "7dddfe45321dda92",
        "type": "inject",
        "z": "9c78f3e70aecce9f",
        "name": "OPEN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Command",
                "v": "OPEN",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "8eb3b73956d04d6c"
            ]
        ]
    },
    {
        "id": "d72ddae053956915",
        "type": "inject",
        "z": "9c78f3e70aecce9f",
        "name": "DELETE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Command",
                "v": "DELETE",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "8eb3b73956d04d6c"
            ]
        ]
    },
    {
        "id": "292fc9b847e5f189",
        "type": "inject",
        "z": "9c78f3e70aecce9f",
        "name": "CLOSE",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "Command",
                "v": "CLOSE",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "8eb3b73956d04d6c"
            ]
        ]
    },
    {
        "id": "2aea3326917ec6cb",
        "type": "debug",
        "z": "9c78f3e70aecce9f",
        "name": "Check Tunnel Id",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 180,
        "wires": []
    },
    {
        "id": "7e9b0b8e296b2a69",
        "type": "comment",
        "z": "9c78f3e70aecce9f",
        "name": "Open a local tunnel using the appropriate commands.",
        "info": "",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "c641d861083a4b7c",
        "type": "comment",
        "z": "9c78f3e70aecce9f",
        "name": "1. Configure the tunnel properties and Create the tunnel",
        "info": "",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "8eb3b73956d04d6c",
        "type": "change",
        "z": "9c78f3e70aecce9f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TunnelId",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "0524510749435a86"
            ]
        ]
    },
    {
        "id": "9803fb758cb28abb",
        "type": "comment",
        "z": "9c78f3e70aecce9f",
        "name": "2. Copy the TunnelId generated in the response",
        "info": "",
        "x": 840,
        "y": 140,
        "wires": []
    },
    {
        "id": "cdbb1ecff8288482",
        "type": "comment",
        "z": "9c78f3e70aecce9f",
        "name": "3. Paste the TunnelId here for persistency",
        "info": "",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "2cb9309145681335",
        "type": "comment",
        "z": "9c78f3e70aecce9f",
        "name": "4. Control the Tunnel with the configured Id",
        "info": "",
        "x": 200,
        "y": 360,
        "wires": []
    }
]