examples/Upload and send a file flow.json
[
    {
        "id": "3e3db0cb9714db14",
        "type": "tab",
        "label": "Upload and send a file",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7d9d631191e5bb5",
        "type": "comment",
        "z": "3e3db0cb9714db14",
        "name": "Uploads a file to the semilimes cloud and send this file in a message",
        "info": "",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "a1a9b3f8f6090685",
        "type": "smeUploader",
        "z": "3e3db0cb9714db14",
        "connector": "",
        "filePath": "myFilePath",
        "filePathType": "str",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "c66ef509e8901470"
            ]
        ]
    },
    {
        "id": "f4c4ab3fe8a34a95",
        "type": "inject",
        "z": "3e3db0cb9714db14",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "a1a9b3f8f6090685"
            ]
        ]
    },
    {
        "id": "c66ef509e8901470",
        "type": "change",
        "z": "3e3db0cb9714db14",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fileToSend",
                "pt": "msg",
                "to": "payload.uploadedFiles[0].fileId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 170,
        "y": 280,
        "wires": [
            [
                "e41400b39835f5b6"
            ]
        ]
    },
    {
        "id": "e41400b39835f5b6",
        "type": "smeMessage",
        "z": "3e3db0cb9714db14",
        "name": "",
        "message": "file",
        "text": "This is a text message.",
        "textType": "str",
        "html": "<b>This is an html message</b>",
        "htmlType": "str",
        "fileIds": "fileToSend",
        "fileIdsType": "msg",
        "contactIds": "",
        "contactIdsType": "str",
        "locationName": "myLocation",
        "locationNameType": "str",
        "latitude": "",
        "latitudeType": "str",
        "longitude": "",
        "longitudeType": "str",
        "url": "",
        "urlType": "str",
        "enableFullScreenView": "1",
        "viewSize": "1:2",
        "channelId": "",
        "channelIdType": "str",
        "tunnelId": "",
        "tunnelIdType": "str",
        "formLocation": "savedForm",
        "formLocationType": "flow",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "6bd4f2eabf37f0d3"
            ]
        ]
    },
    {
        "id": "c0b4e2d9bffbe5d1",
        "type": "comment",
        "z": "3e3db0cb9714db14",
        "name": "1. Set the file path in the uploader",
        "info": "",
        "x": 350,
        "y": 180,
        "wires": []
    },
    {
        "id": "6bd4f2eabf37f0d3",
        "type": "smeSender",
        "z": "3e3db0cb9714db14",
        "connector": "",
        "async": "0",
        "name": "",
        "actionName": "channel_message_send",
        "actionText": "Channel - Send Message",
        "recipientId": "",
        "recipientIdType": "str",
        "messageId": "",
        "messageIdType": "str",
        "limit": 0,
        "limitType": "num",
        "recipientIds": "",
        "recipientIdsType": "str",
        "groupChatId": "",
        "groupChatIdType": "str",
        "channelId": "",
        "channelIdType": "str",
        "title": "",
        "titleType": "str",
        "saveLocation": "savedMessageId",
        "saveLocationType": "msg",
        "saveRequestIdLocation": "savedRequestId",
        "saveRequestIdLocationType": "msg",
        "logToConsole": false,
        "x": 670,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "c0b6d6ae21fb6b5d",
        "type": "comment",
        "z": "3e3db0cb9714db14",
        "name": "2. Set the destination you want to send the file to",
        "info": "",
        "x": 700,
        "y": 240,
        "wires": []
    }
]